.btn-register {
	padding: 0;
	margin-top: 32px;
	width: calc(100%/1024*268);
	font-family: 'Helvetica', sans-serif;
	font-weight: lighter;
	font-size: 1.3em;
	background-color: $color-primary;
	height: 60px;
	width: 255px;
	color: white;
	text-align: center;
	border: none;
	text-transform: uppercase;

	@media #{$medium-only} {
        width: 100%;
    }

    @media #{$small-only} {
        width: 100%;
    }
}

.btn-search {
    a {
    	width: 117px;
        height: 48px;
        display: inline-block;
        line-height: 48px;
        background-color: $lightestGrey;
        border: 1px solid $lightergrey;
        border-top: 0;
        font-weight: bold;
        color: $color-secondary;
        text-decoration: none;
		font-size: 0.75rem;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;

        &:hover {
            background-color: $color-faq-button-hover;
        }
    }
}