form {
    .alert {
        color: $color-error-text;
        border-color: $color-error-border;

        .error-list {
            list-style-type: disc !important;
            list-style-position: inside;
            padding-left: 10px;
            color: $color-error-text;

            li {
                float: none;
                list-style-type: disc !important;

            }
        }
    }

    .grid-container {
        .grid-x {
            .cell {
                padding: 0;
                margin-bottom: 0;

                &.medium-3 {
                    width: calc(100%/1024*211);
                }

                &.medium-6 {
                    width: calc(100%/1024*482);
                }

                &.medium-9 {
                    width: calc(100%/1024*753);
                }

                &.gutter {
                    margin-right: calc(100%/1024*60);
                }

                .country-code {
                    width: calc(100%/482*90);
                    margin-right: calc(100%/482*8);
                    float: left;
                }

                .phone-number {
                    width: calc(100%/482*384);
                }

                &.terms {
                    padding: 0;
                    margin-top: 66px;
                    input, p {
                        float: left;
                        margin-top: 5px;
                    }

                    input {
                        height: auto;
                        margin-right: 14px;
                    }

                    p {
                        font-size: 0.938rem;
                        margin: 0;
                        color: $darkerGrey;

                        span {
                            color: $color-primary;
                            text-decoration: underline;
                        }
                    }

                    &::after {
                        clear: both;
                        display: block;
                        content: "";
                    }
                }

                label {
                    margin: 0;
                    padding-bottom: 8px;
                    color:  #0a1e75;
                    font-size: 1.25rem;
                    font-weight: 400;
                    line-height: 1.05;
                }

                @media #{$medium-only} {
                    width: 100% !important;
                    margin: 10px 0;
                }

                @media #{$small-only} {
                    width: 100% !important;
                    margin: 5px 0;
                }
                select {
                    background-color: $lightestGrey;
                    border: 1px solid $lightergrey;
                }

                input, textarea {
                    border-radius: 0;
                    color: $darkerGrey;
                    font-size: 0.938rem;
                    font-weight: 400;
                    line-height: 1.4;
                    height: 48px;
                    padding-left: 23px;

                    &[type="text"], &[type="password"]{
                        background-color: $lightestGrey;
                        border: 1px solid $lightergrey;
                    }

                    @include placeholder {
                        color: $darkerGrey;
                    }
                }

                textarea {
                    padding-top: 13px;
                }

                .request-message {
                    color: $darkerGrey;
                    font-size: 0.875rem;
                    font-weight: 300;
                    line-height: 1.5;
                    padding-bottom: 12px;
                }
            }

            .button {
                margin-top: 30px;
                width: 100%;
                height: 48px;
                font-size: 0.875rem;
                font-weight: 700;
                line-height: 1.214;
                background-color: $darkestGrey;
                text-transform: uppercase;
            }
        }
    }
}