$wall-art: url("/assets/graphics/wall-art.jpg");
$camera: url("/assets/graphics/camera.jpg");
$record-player: url("/assets/graphics/record-player.jpg");
$record-player-spotlight: url('/assets/graphics/record-player-spotlight.jpg');
$search-overlay: url("/assets/graphics/search-overlay.svg");
$social-media: url("/assets/graphics/social-media.png");
$arrow-right: url('/assets/graphics/arrow-right.png');
$arrow-right-blue: url('/assets/graphics/arrow-right-blue.png');
$arrow-right-white: url('/assets/graphics/arrow-right-white.png');
$hamburger-menu: url('/assets/graphics/menu-icon.svg');
$arrow-right-bullet: url('/assets/graphics/arrow-right-bullet.png');
$arrow-down-bullet: url('/assets/graphics/arrow-down-bullet.png');