html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	position: relative;
}

h1 {
	font-size: 2.5rem;
	font-family: $font-primary;
	color: $color-h1;
	line-height: 1.2;
	margin: 55px 0;
}

h2 {
	font-size: 2.5rem;
	font-family: $font-primary;
	color: $color-h1;
	line-height: 1.2;
	text-align: center;
	font-weight: 300;
}

h3 {
	font-size: 1.5625 rem;
	font-family: $font-primary;
	color: $color-h2;
	line-height: 0.84;
}

h4 {
	font-size: 1rem;
	font-family: $font-secondary;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.188;
	text-align: left;
}

p {

}

@media #{$medium-only} {
	html {
		font-size: 90%;
	}

}
@media #{$small-only} {
	html {
		font-size: 80%;
	}
}