// colors
$color-primary: #01a6a0;
$color-secondary: #0a1e75;

$color-search-border: #bebebd;
$color-search-text: #1d1d1b;
$color-search-background: #fff;

$color-header-top-background: #fff;
$color-header-bottom-background: #eaeaea;

$color-container-logo-background: #fff;

$color-navigation-text: #4e4e4e;

$color-languages-text: #0a1e75;

$color-interaction-background: #f8f8f8;
$color-interaction-text: #6f6f6d;
$color-interaction-border: #e6e6e6;
$color-interaction-button-background: #e5e5e5;

$color-bullet-border: #bebebe;
$color-bullet-background: rgba(226, 226, 226, 0.32);

$color-arrow-border: rgba(250, 250, 250, 0.8);
$color-orbit-background: rgba(0, 0, 0, 0.2);

$color-intro-container-background: rgba(1, 32, 166, 0.65);


// fonts
$font-primary: Arial;

// sizes 
$psd-width: 1500/100;
$size-container: 1024px;

