// colors
$color-primary: #01a6a0;
$color-secondary: #0a1e75;

$color-search-border: #bebebd;
$color-search-text: #1d1d1b;
$color-search-background: #fff;

$color-header-top-background: #fff;
$color-header-bottom-background: #eaeaea;

$color-container-logo-background: #fff;

$color-navigation-text: #4e4e4e;

$color-languages-text: #0a1e75;

// fonts
$font-primary: Arial;

// sizes 
$psd-width: 1500/100;
$size-container: 1024px;