.footer {
	height: 566px;
	padding: 0 15px;

	@media (max-width: 674px) {
		height: auto;
	}

	.line {
		padding-top: 100px;
		border-bottom: 1px solid $color-line;
		margin: 0 -10px;
	}
	.container {
		.grid-container {
			.grid-y.medium-grid-frame {
			    height: auto;

			    div {
			    	padding-top: 40px;

					div {
						padding: 0;

						&:nth-child(4) {
							@media #{$large-up} {
								border-left: 1px solid $color-line;
								margin-top: -40px;
								padding: 39px 0 115px 28px;
							}
						}

						nav {						
							ul {
								margin: 0 0 10px 0;

								&.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
									border-color: #000 transparent transparent;
								}

								li {
									a {
										font-size: 0.875rem;
										font-family: $font-secondary;
										color: $color-primary;
										font-weight: 400;
										line-height: 1.214;
										padding: 0;

										h4 {
											margin-bottom: 0;
										}
									}
								}
							}
						}

						.search {
							padding-top: 5px;
							float: left;

							@media #{$medium-only} {
								float: none;
							}

							.input-group {
								margin: 0;
								padding: 0;

								.searchbar {
									border: solid 1px $color-search-border;
									border-radius: 5px;
									background-color: $color-search-background;
									width: calc(100%/240*185);
									height: 32px;
									font-family: $font-secondary;
									color: $color-search-text;
									font-size: 0.938rem;
									font-style: italic;
									line-height: 1.4;
									text-align: left;
									padding-left: 23px;

									&::placeholder { 
									   color: $color-search-text;
									}
								}

								.search-icon {
									height: 18px;
									width: 18px;
									float: left;
									margin: 6px 0 0 9px;
								}	
							}
						}

						.contact {
							float: left;
							margin-top: 10px;

							@media #{$small-only} {
								width: 100%;
							}

							ul {
								margin: 0;

								li {
									font-size: 0.9375rem;
									font-family: $font-secondary;
									color: $color-contact;
									line-height: 1.4;

									&:nth-child(3) {
										margin-bottom: 30px;
									}

									.icon {
										margin-right: 10px;
									}

									a {
										color: $color-primary;
										text-decoration: underline;
										display: inline-block;
										padding: 0;
									}
								}

								&.social-media {
									margin-top: 25px;
									li {
										margin: 0 5px 0 0;
										float: left;
										a {
											background: $social-media;
											height: 31px;
											width: 38.5px;

											&.facebook {
												background-position-x: 0;
											}

											&.twitter {
												background-position-x: -38.5px;
												
											}

											&.youtube {
												background-position-x: -77px;
												
											}

											&.google {
												background-position-x: -115.5px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}

		&.copy {
			padding-top: 0;

			@media #{$medium-only} {
				margin-top: 50px;
			}

			@media #{$small-only} {
				margin-top: 50px;
			}

			p {
				font-size: 0.75rem;
				font-family: $font-secondary;
				color: $color-copy;
				line-height: 1.5;
				text-align: right;
				margin-top: -40px;
			}
		}
	}
}

.footer-nav {
	position: relative;
	width: 100%;

	.header-bottom {

		@media #{$small-only} {
			height: 280px;
		}

		.container {
			.container-logo {
				background-color: $color-container-logo-background;
				box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
				width: 103px;
				height: 140px;
				
				position: absolute;
				bottom: 0;
				z-index: 10000;

				.logo-image {
					
					width: 75px;
					height: 130px;
					position: absolute;
					margin-left: 14px;
					bottom: 0;
				}
			}

			.navigation {
				margin-left: 170px;
				position: relative;

				@media #{$medium-only} {
					margin-left: 120px;
				}
			}

			.languages {
				padding-top: 10px;

				@media #{$small-only} {
					position: absolute;
					bottom: 150px;
					height: 20px;
					color: red;
					left: 0;
				}

				@media (max-width: 770px) and (min-width: 674px) {
					position: absolute;
					bottom: 70px;
					height: 20px;
					left: 100px;
				}
			}
		}
	}

	.line-bottom {
		background-color: $color-primary;
		height: 4px;
	}
}