.intro-container {
	background-color: $color-intro-container-background;
	width: 1024px;
	height: 190px;
	z-index: 2;
	bottom: 0;
	margin-bottom: 81px;
	position: absolute;

	@media #{$medium-only} {
		width: 80%;
		left: 10%;
		height: auto;
	}

	@media #{$small-only} {
		width: 80%;
		left: 10%;
		height: auto;
	}

	.art-icon {
		margin-left: -15px;
		margin-top: -15px;
		border-style: solid;
		border-width: 7px;
		border-color: #fff;
		border-radius: 50%;
		background-color: $color-primary;
		width: 29px;
		height: 29px;
		display: inline-block;
	}

	.intro-text {
		font-size: 0.938rem;
		font-family: $font-primary;
		color: #fff;
		line-height: 1.4;
		text-align: left;
		margin: 0px 57px 34px 49px;
		display: inline-block;

		@media #{$small-only} {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 200px;
		}
		
	}
}